@page
@model IndexModel
@{
    ViewData["Title"] = "Books";
}

<div >
   @* @if (Model.OnGet)
    {
        <p class="text-center"> No books available</p>
    }
    else
    {
        
    }*@
    @if (Model.Books == null)
    {
        <p>No books available</p>
       @* <a href="./Admin/Books/Adding">Add new book</a>*@
    }
    else
    {
        <label for="Books">Wykaz książek:</label>
        <select name="Books">
            <option value="Books">
                Books
            </option>
            @foreach (var item in Model.Books)
            {
                <option value="@item">
                    @item.BookID+". "+@item.BookName+" Autor nr "+@item.AuthorsID
                </option>
            }

        </select>
    }
  
</div>
