@page
@model IndexModel
@{
    ViewData["Title"] = "Books";
}

<div >
   @* @if (Model.OnGet)
    {
        <p class="text-center"> No books available</p>
    }
    else
    {
        
    }*@
    @if (Model.Books == null)
    {
        <p>No books available</p>
       @* <a href="./Admin/Books/Adding">Add new book</a>*@
    }
    else
    {
        <label for="Books">List of Books:</label>
        <ul>
            <li class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" id="BooksListDropdown">
                Books
            </li>
            <li>
                <ul class="dropdown-menu"> 
                    <li>
                        <a class="dropdown-item" href="./Admin/Books/Adding">Add Book</a>
                    </li>
                    @foreach (var item in Model.Books)
                     {
                         <li class="dropdown-item">
                            @item.BookID+". "+@item.BookName+" Autor nr "+@item.AuthorsID
                         </li>
                     }
            </ul>   
            </li>
        </ul>
    }
  
</div>
