@page
@model IndexModel
@{
    ViewData["Title"] = "Books";
}

<div >
   @* @if (Model.OnGet)
    {
        <p class="text-center"> No books available</p>
    }
    else
    {
        
    }*@
    @if (Model.Books == null)
    {
        <p>No books available</p>
       @* <a href="./Admin/Books/Adding">Add new book</a>*@
    }
    else
    {
        
        <label for="Books">List of Books:</label>
        <ul>
            <li class="dropdown-item">
                <a href="./Admin/Books/Adding" class="dropdown-item">+ Add new book</a>
            </li>
            @foreach (var item in Model.Books)
            {

                <li class="dropdown-item">
                    @item.BookID @item.BookName 
                </li>
            }
           
        </ul>
            <label for="Authors">List of Authors:</label>
            <ul>
            <li class="dropdown-item">
                <a href="./Admin/Authors/Adding" class="dropdown-item">+ Add new author</a>
            </li>
            @foreach (var item2 in Model.Authors)
            {

                        <li class="dropdown-item">
                    @item2.AuthorID @item2.AuthorName 
                        </li>
            }
            </ul>

    }
  
</div>
