@page
@model IndexModel
@{
    ViewData["Title"] = "Books";
}

<div >
   @* @if (Model.OnGet)
    {
        <p class="text-center"> No books available</p>
    }
    else
    {
        
    }*@
    <label for="Books">Wykaz książek:</label>
    <select name="Books">
        @foreach (var item in Model.Books)
        {
            <option value="@item">
                @item.BookID+". "+@item.BookName+" Autor nr "+@item.AuthorsID
            </option>
        }
       
    </select>
</div>
