@page
@model BooksListWeb.Pages.Admin.AddingModel
@{
    ViewData["Title"] = "Adding Author";
}

<h1>
    Add new Author:
</h1>
<form method="post">
    <div class="mb-3">
        <label for="AuthorName" class="form-label">Type in name of the Author:</label>
        <input type="text" class="form-control" id="AuthorName"  >
    </div>
   
   
    <a type="submit" href="/" class="btn btn-primary">Submit</a>
    <a href="/Admin/AddingBooks" class="btn">+ Add new book</a>
    <a href="/Admin/AddingAuthor" class="btn">+ Add new author</a>
</form>
