@page
@model BooksListWeb.Pages.Admin.AddingModel1

@{
    ViewData["Title"] = "Adding Books";
}

<h1>
    Add new Book:
</h1>
<form method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Type in name of the book:</label>
        <input required type="text" class="form-control" id="BookName" name="BookName" asp-for="AddBookRecord.BookName"  >
    </div>
   

    <label for="selectAuthor" class="form-label">Select author from the list:</label>
    <select required id="selectAuthor" class="form-select form-select-lg mb-3" name="selectAuthor" asp-for="AddBookRecord.AuthorsID">
        <option selected> Select Author</option>
        @foreach (var item2 in Model.Authors)
        {
            <option value="@item2.AuthorID"> @item2.AuthorID @item2.AuthorName </option>        
        }
    </select>

   
    <button type="submit" asp-action="/" class="btn btn-primary">Submit</button>
    <button asp-action="/Admin/AddingBooks" class="btn">+ Add new book</button>
    <button asp-action="/Admin/AddingAuthor" class="btn">+ Add new author</button>
</form>
